<!DOCTYPE html>
<html lang="es">
<head>
    {(public/common/meta.html)}
    {% if ( type(css) == 'table' ) then %}
    {% for _, v in ipairs(css) do %}
    <link rel="stylesheet" href="{*v*}">
    {% end %}
    {% else %}
    <link rel="stylesheet" href="{*css*}">
    {% end %}
</head>
<body class="section-primary">
    <div class="container">
        <section class="section-secondary">
			<h1 class="align-center">LogIn</h1>
			<form method="POST" action="">
				<div class="form-control">
					<label>Username</label>
					<input type="text" name="username" value="{{username}}" placeholder="">
				</div>
				
				<div class="form-control">
					<label>Password</label>
					<input type="password" name="password" placeholder="">
				</div>
	
				<div class="form-control">
			        <label><input type="checkbox">Remember</label>
			    </div>
				<input type="hidden" name="logIn" value="true">
				<button type="submit" class="button-primary">Submit</button>
				{% for _, msg in ipairs(messages) do %}
				<div class="alert alert-danger">{{msg.message}}</div>
				{% end %}
			</form>
        </section>
    </div>
</body>
</html>
