<!DOCTYPE html>
<html lang="es">
<head>
    {(public/common/meta.html)}
    {% if ( type(css) == 'table' ) then %}
    {% for _, v in ipairs(css) do %}
    <link rel="stylesheet" href="{*v*}">
    {% end %}
    {% else %}
    <link rel="stylesheet" href="{*css*}">
    {% end %}
</head>
<body class="section-secondary">
	<div class="container container-small">
	    <div class="card">
	        <h3 class="card-title s-3 align-center">Not found :(</h3>
	        <p>Sorry, but the page you were trying to view does not exist.</p>
	        <ul class="ul-mp">
				It looks like this was the result of either:
				<li>a mistyped address</li>
				<li>an out-of-date link</li>
	        </ul>
	    </div>
	</div>
    {% if ( type(js) == 'table' ) then %}
    {% for _, v in ipairs(js) do %}
    <script type="text/javascript" src="{*v*}"></script>
    {% end %}
    {% end %}
</body>
</html>
