<header>
        <h1 class="title">Space for your headline.</h1>
        <h2 class="subtitle">A space for a more descriptive subtitle.</h2>
        <p class="disclaimer">A small space for a disclaimer.</p>
        <button class="get-button button-primary button-large">Call to Action</button>

        <a class="scroll-down" href=""></a>
    </header>
