.container {
	padding: 0;
}

.card {
	margin: 0;
}

.divider {
	border-top: 1px solid #e0e0e0;
}

section {
	padding: 0;
}

ul {
    margin-bottom: 0px;
}

.sidebar {
    padding: 9px 0px 0px 0px;
}

.sidebar-category {
    padding: 0px;
}

.h4, h4 {
    line-height: 24px;
}

.nav-container {
	padding:0px;
}

/*
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Averia Serif Libre Regular'), local('AveriaSerifLibre-Regular'), url(/fonts/averia-serif-libre-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*/

/* Mobile Menu Default */
.mobile-menu {
    display: none;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 10;
}

.nav-container .nav-logo a {
    font-family: 'Averia Serif Libre', sans-serif;
}
.sidebar-category + .sidebar-links {
    display: none;
}
.sidebar-category.active + .sidebar-links {
    display: block;
}

.table-responsive {
	overflow-x: auto;
}

@media (min-width: 1024px) and (max-width: 1440px) {
	.p-top {
		padding: 0px 0px 0px 30px;		
	}
}
