<p class="h3"><strong>Get More</strong></p>
        <p>This is an examples of header styles that are used in Mustard UI. We like to think of it as a starter CSS framework that actually looks good. We'd love to hear your feedback!</p>
        <p>See more examples of <a href="https://mustard-ui.com/docs/header">CSS Header Styles</a>.</p>
