<!DOCTYPE html>
<html lang="es">
<head>
    {(private/common/meta.html)}
    {% if ( type(css) == 'table' ) then %}
    {% for _, v in ipairs(css) do %}
    <link rel="stylesheet"   href="{*v*}">
    {% end %}
    {% else %}
    <link rel="stylesheet"   href="{*css*}">
    {% end %}
</head>
<body class="section-secondary">
    {(private/common/nav.html)}
	<main>
	    <div class="container">
	        <div class="row row-reverse">
	            <div class="col col-lg-9">
	                <section class="p-top">
	                    <div class="display-lg-down">
	                        <div class="col col-12">
	                            {(private/common/mobile-sidebar.html)}
	                        </div>
	                    </div>
	                    {*view*}
	                </section>
	            </div>
	            <div class="col col-lg-3 display-lg-up">
	                {(private/common/sidebar.html)}
	            </div>
	        </div>
	    </div>
	</main>
    {(private/common/footer.html)}
    {% if ( type(js) == 'table' ) then %}
    {% for _, v in ipairs(js) do %}
    <script type="text/javascript" src="{*v*}"></script>
    {% end %}
    {% end %}
</body>
</html>
