<div class="row">
    <div class="col col-12">
		<h4>Dashboard</h4>
		<div class="divider"></div>
	</div>
    <div class="col col-md-6">
        <div class="card">
            <h3 class="card-title">Example Card 1</h3>
            This is an example of a card. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi ipsam sint alias, nemo. Dolore minus aliquid, modi debitis adipisci vel amet, sit officia placeat?
            <ul class="card-actions">
                <li><button class="button-primary">Action 1</button></li>
                <li><button class="button-primary">Action 2</button></li>
            </ul>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h3 class="card-title">Example Card 2</h3>
            This is an example of a card. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi ipsam sint alias, nemo. Dolore minus aliquid, modi debitis adipisci vel amet, sit officia placeat?
            <ul class="card-actions">
                <li><button class="button-primary">Only 1 Action</button></li>
            </ul>
        </div>
    </div>
</div>
