<div class="row">
						    <div class="col col-lg-12">
							<h4>{{header}}</h4>
							<div class="divider"></div>
							<form method="POST" action="">
							    <div class="row">
								<div class="col col-md-6">
								    <div class="form-control">
									<label>Fullname</label>
									<input type="text" name="fullname" value="{{user.fullname}}">
								    </div>
								</div>

								<div class="col col-md-6">
								    <div class="form-control">
									<label>Username</label>
									<input type="text" name="username" value="{{user.username}}">
								    </div>
								</div>
							    </div>
							    <div class="row">
								<div class="col col-md-6">
								    <div class="form-control">
									<label>Password</label>
									<input type="password" name="password">
								    </div>
								</div>
								<div class="col col-md-6">
								    <div class="form-control">
									<label>Confirm Password</label>
									<input type="password" name="confirmp">
								    </div>
								</div>
							    </div>
							    <input type="hidden" name="id_user" value="{{user.id_user}}">
							    <div class="row">
								<div class="col col-sm-5 col-xs-6">
								    <button type="submit" class="button-primary">Submit</button>
								</div>
								<div class="col col-sm-5 col-sm-offset-2 col-xs-6">
								    <a href="/users" class="button button-danger float-right">Cancelar</a>
								</div>
							    </div>
							</form>
							<div class="row">
							    <div class="col col-12">
								{% for _, msg in ipairs(messages) do %}
								<div class="alert alert-danger">{{msg.message}}</div>
								{% end %}
							    </div>
							</div>
						    </div>
						</div>
