<div class="row">
					    <div class="col col-lg-12">
						<h4>User list</h4>
						<div class="divider"></div>
						<div class="table-responsive">
						    <table>
							<thead>
							    <tr>
								<th>ID</th>
								<th>FULLNAME</th>
								<th>USERNAME</th>
								<th>OPTIONS</th>
							    </tr>
							</thead>
							<tbody>
							    {% for _, user in ipairs(users) do %}
							    <tr>
									<td>{{user.id_user}}</td>
									<td>{{user.fullname}}</td>
									<td>{{user.username}}</td>
									<td>
									    <a href="/users/edit/{{user.id_user}}">Edit</a>
									</td>
							    </tr>
							    {% end %}
							</tbody>
						    </table>
						</div>
						<ul class="pagination float-right">
						{% for k, page in pairs(pagination) do %}
<!--
						    <li><a href="/users/page/1">Firts</a></li>
-->
						    <li><a href="/users/page/{{page.prev_page}}">Prev</a></li>
							{% for _, link in pairs(page.links) do %}
							{*link*}
							{% end %}
						    <li><a href="/users/page/{{page.next_page}}">Next</a></li>
<!--
						    <li><a href="/users/page/{{page.pages}}">Last</a></li>
-->
						{% end %}
						</ul>
					    </div>
					</div>
