<div style="text-align:center;">
            <h3>Recurso no encontrado</h3>
<pre><code>
 _  _    ___  _  _   
| || |  / _ \| || |  
| || |_| | | | || |_ 
|__   _| |_| |__   _|
   |_|  \___/   |_|  
command not found
</code></pre>
    </div>
