<div class="sidebar sidebar-left">
						<h3 class="sidebar-category active">Menu</h3>        
				        <ul class="sidebar-links">
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="/users/new">New user</a></li> 
                            <li><a href="/users/users">Users</a></li> 
	                    </ul>
						<h3 class="sidebar-category active">Menu2</h3>
				        <ul class="sidebar-links">
                            <li><a href="#">Item #1</a></li>
                            <li><a href="#">Item #2</a></li>
                            <li><a href="#">Item #3</a></li>
	                    </ul>
	                </div>
