/*
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,700);
@import url(https://fonts.googleapis.com/css?family=Lato);
*/

body {
/*
    margin-left: 1em;
    margin-right: 1em;
*/
    font-family: "Lato", arial, helvetica, geneva, sans-serif;
    background-color: #ffffff;
    margin: 0px;
    color: #1c4e68;
}

code,
tt {
    font-family: monospace;
    font-size: 1.1em;
}

span.parameter {
    font-family: monospace;
}

span.parameter:after {
    content: ":";
}

span.types:before {
    content: "(";
}

span.types:after {
    content: ")";
}

.type {
    font-weight: bold;
    font-style: italic
}

body,
p,
td,
th {
    font-size: .95em;
    line-height: 1.2em;
}

p,
ul {
    margin: 10px 0 0 0px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1 {
    font-family: 'Quicksand',
        sans-serif;
    font-weight: 700;
    color: #ea316e;
    font-size: 1.5em;
    margin: 20px 0 20px 0;
}

h2,
h3,
h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 15px 0 10px 0;
}

h2 {
    font-size: 1.25em;
    color: #ea316e;
}

h3 {
    font-size: 1.15em;
}

h4 {
    font-size: 1.06em;
}

a:link {
    font-weight: bold;
    color: #1c4e68;
    text-decoration: none;
}

a:visited {
    font-weight: bold;
    color: #1e86be;
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

hr {
    color: #b1e3fa;
    background: #00007f;
    height: 1px;
}

blockquote {
    margin-left: 3em;
}

ul {
    list-style-type: disc;
}

p.name {
    font-family: "Andale Mono", monospace;
    padding-top: 1em;
}

pre {
    background-color: #F1F1F1;
    border-left: 4px solid #1E90FF;
    /* silver */
    padding: 10px;
	padding-left: 15px;
    margin: 10px 0 10px 0;
    overflow: auto;
    font-family: "Camingo Code", monospace;
}

pre.example {
    font-size: .85em;
}

table.index {
    border: 1px #b1e3fa;
}

table.index td {
    text-align: left;
    vertical-align: top;
}

#container {
    margin-left: 5em;
    margin-right: 5em;
}

#product {

}

#product big {
    font-size: 2em;
}

#main {
	margin-left: 180px;
	border-right: 1px solid #f1f1f1;
	padding-right: 15px;
}

#navigation {
	margin: 0;
	padding: 0;
	width: 17%;
	background-color: #f1f1f1;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	overflow: auto;
	color: #000000;
}

#navigation h2 {
	font-size: 21px;
	font-weight: 500;
	color: #000000;
	margin-left: 15px;
}

#navigation h1 {
	font-size: 30px;
	font-weight: 500;
	margin-left: 15px;
    color: #000000;
}

#navigation ul {
	list-style-type: none;
}

#navigation li strong {
	display: block;
	width: 100%;
	background-color: #1E90FF;
	color: #FFFFFF;
	font-weight: 100;
	margin-left: -15px;
	padding: 2px 2px 1px 30px;
}

#navigation li {
	margin-left: -40px;	
}

#navigation li a {
	width: 100%;
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 4px 2px 2px 16px;
	font-weight: 400;
}

#navigation li a:hover {
	background-color: #C1C1C1;
}

#content {

}

#about {
    clear: both;
    padding: 5px;
    border-top: 2px solid #b1e3fa;
    background-color: #ffffff;
    font-size: 10px;
}

@media print {
    body {
        font: 12pt "Times New Roman", "TimeNR", Times, serif;
    }

    a {
        font-weight: bold;
        color: #1c4e68;
        text-decoration: underline;
    }

    #main {
        background-color: #ffffff;
        border-left: 0px;
    }

    #container {
        margin-left: 2%;
        margin-right: 2%;
        background-color: #ffffff;
    }

    #content {
        padding: 1em;
        background-color: #ffffff;
    }

    #navigation {
        display: none;
    }

    pre.example {
        font-family: "Andale Mono", monospace;
        font-size: 10pt;
        page-break-inside: avoid;
    }
}

table.module_list {
    border-width: 1px;
    border-style: solid;
    border-color: #b1e3fa;
    border-collapse: collapse;
}

table.module_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #b1e3fa;
}

table.module_list td.name {
    background-color: #e0f4fc;
    min-width: 200px;
}

table.module_list td.summary {
    width: 100%;
}


table.function_list {
    border-width: 1px;
    border-style: solid;
    border-color: #b1e3fa;
    border-collapse: collapse;
}

table.function_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #b1e3fa;
}

table.function_list td.name {
    background-color: #e0f4fc;
    min-width: 200px;
}

table.function_list td.summary {
    width: 100%;
}

dl.table dt,
dl.function dt {
    border-top: 1px solid #b1e3fa;
    padding-top: 1em;
}

dl.table dd,
dl.function dd {
    padding-bottom: 1em;
    margin: 10px 0 0 20px;
}

dl.table h3,
dl.function h3 {
    font-size: .95em;
}

/* stop sublists from having initial vertical space */
ul ul {
    margin-top: 0px;
}

ol ul {
    margin-top: 0px;
}

ol ol {
    margin-top: 0px;
}

ul ol {
    margin-top: 0px;
}

/* make the target distinct; helps when we're navigating to a function */
a:target+* {
    background-color: #FF9;
}

/* styles for prettification of source */
pre .comment {
    color: #558817;
}

pre .constant {
    color: #a8660d;
}

pre .escape {
    color: #844631;
}

pre .keyword {
    color: #aa5050;
    font-weight: bold;
}

pre .library {
    color: #0e7c6b;
}

pre .marker {
    color: #512b1e;
    background: #fedc56;
    font-weight: bold;
}

pre .string {
    color: #8080ff;
}

pre .number {
    color: #f8660d;
}

pre .operator {
    color: #2239a8;
    font-weight: bold;
}

pre .preprocessor,
pre .prepro {
    color: #a33243;
}

pre .global {
    color: #800080;
}

pre .user-keyword {
    color: #800080;
}

pre .prompt {
    color: #558817;
}

pre .url {
    color: #272fc2;
    text-decoration: underline;
}
